<div class="treasure-check-header">
  Registrado por: {{#link-to 'users.item' ch.creator.id}}{{ch.creator.displayName}}{{/link-to}} <span class="badge">{{ch.creator.totalScore}}</span>
</div>
<div class="treasure-images">
  <div class="row">
    {{#each ch.images as |image|}}
      <div class="col-md-3 col-sm-6">
        <a href={{image.urls.original}} target="_blank">
        {{we-image file=image style='thumbnail' class=" img-responsive"}}
        </a>
      </div>
    {{else}}
      {{#if ch.sendPhoto}}
        Imagens deletadas após o envio.
      {{else}}
        O usuário não enviou imagens para esse tesouro.
      {{/if}}
    {{/each}}
  </div>
</div>
<div class="treasure-check-footer">
  <div class="treasure-data">Tesouro:
    {{#link-to 'treasures.item' ch.treasure.id}}
      {{ch.treasure.title}} - {{ch.treasure.categoryText}}
    {{/link-to}}
  </div>
  <div class="treasure-check-metadata">
    Primeira atividade: <strong>{{moment-format ch.createdAt "DD/MM/YYYY hh:mm"}}</strong><br>
    Atualizado em: <strong>{{moment-format ch.updatedAt "DD/MM/YYYY hh:mm"}}</strong>
  </div>
</div>
